body {
	width: 100%;
	height: 100%;
	margin: 0;
	display: block;
}
/*Naruto cursor*/
.cursor1:hover{
	 cursor: url('data:image/x-icon;base64,AAACAAEAICAQAAAAAADoAgAAFgAAACgAAAAgAAAAQAAAAAEABAAAAAAAAAIAAAAAAAAAAAAAEAAAAAAAAAAAAAAASbD1AP///wDr9/8AAAD/AC6o/wAAQfIAdfT/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAZmZmZgAAAAAAAAAAAAAGZlVVVVVmYAAAAAAAAAAAZWUzMzMzNlYAAAAAAAAABlYAM2ZmMwBlYAAAAAAAAGVgAzMzMzMzBlYAAAAAAABlYwAzN3MzADZWAAAAAAAAZmADMzMzMzMGZgAAAAAABlZzAAAzMzMANWVgAAAAAAZWUzd3czd3czVlYAAAAAAGVmNwAAMwAAc2ZWAAAAAAAGZXBAQDAEBAc2YAAAAAAABlMDQEB3BAQwNWAAAAAAAAZXA0QFVVBEIHVgAAAAAAAGVWZmZmZmZmZVYAAAAAAABmZjNVd3VVM2ZmZgAAAABmZlMzVVdxVTMzVlVgAAAGVWVld1VVV1V3dWYzVgAAZXNjVlVmZmZmVVZWN1YAAGVTM1ZmVVVVVWZldjVmAABlYzM1VTMzMzNVY2U1YAAABmMzMzMzMzMzM1NTM1YAAAYzMzMzMzMzMzMzMzM1YABjMzMzMzMzMzMzMzMzdWAAZ3czMzMzMzMzMzMzc1VgAGVldzMzMzMzMzMzN1dlYABmBlUzczMzMzM3czVlZgAAAAZmN1czM3MzdVN2NmAAAAAAZnVlczdXM1ZnVmM2AAAABjZWBlN1ZXNgZWBjN2AAAGVzZgBnVgZXYAYABndWAABlVWAAZWAAZWAGAAZlVgAABmYAAAYAAAZgAAAAZmD/8A///4AB//8AAP/+AAB//CAAP/wAAD/8IAA/+AwAH/gAAB/4AAAf/ACAP/wAAD/8AAA//AAAP/wAAA/wAAAH4AAAA8AAAAPAAAADwAAAB+AAAAPgAAABwAAAAcAAAAHAAAAByAAAA/gAAAf8AAADeCAEQXAwhuBwccbgCPvn8Q=='), auto; 
}
/*Sasuke cursor*/
.cursor2:hover{
	cursor: url('data:image/x-icon;base64,AAACAAEAICAQAAAAAADoAgAAFgAAACgAAAAgAAAAQAAAAAEABAAAAAAAAAIAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAwMDAAAA/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAiAAAAAAAAAAAAAAAAAAESIiEQAAAAAAAAAAAAAAAAEiIhAAAAAAAAAAAAAAAAASIiIgAAAAAAAAAAAAAAAAAiIiIAAAAAAAAAAAAiIgAAIiIiAAAiIgAAAAACIiIgAAAiAAACIiIgAAAAAiESIgAiACIAIiESIAAAAAIgABIgIgAiAiEAAiAAAAACIAAAAAAiAAAAAAIgAAAAACIAAAACIiAAAAAiAAAAAAAiAAAAAAAAAAACIgAAAAAAAAAAAAAiAAAAAAAAAAAAAAAiAAACIiAAACIAAAAAAAAAIgIAAiIgACAiAAAAAAAAIgACAAAiAAAgACIAAAAAAiIiAiIAAAAiICIiIAAAACIiIiAiIAACIgIiIiIAAAAiIiIgAAAAAAAiIiIiAAAAIiIiIgIgAAIgIiIiIgAAACIiIgACIAACIAAiIiIAAAACIgAAAAAAAAAAACIgAAAAAAAAAAAgAAIAAAAAAAAAAAAAAAAAIgAiAAAAAAAAAAAAAAAAACIAIgAAAAAAAAAAAAAAAAESACAAAAAAAAABAAAAAAAAAiIgAAAAAAAAAQAAAAAAAAAiAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABERAAAAAAAAAAAAAAAAAAD///////AP//+AAf//AAD//AAAP/gAAB/wAAAP8AAAD+AAAAfAAAADwAAAA8AAAAOAAAABgAAAAYAAAAGAAAABgAAAAYAAAAGAAAABgAAAAcAAAAPAAAADwAAAA+AAAAfgAAAP8AAAD/gAAB/8AAA/fwAA/3+AAf9/8A//D////w=='), auto; 
}

.disappear {
	display: none;
}

.main-row {
	height: 43%;
	width: 100%;
	display: flex;
	background-color:red;
}

.boxs{
	display:block;
}
.center0{
	max-width:5%;
}

p{
	text-align:center;
	font-size:500%;
	font-family: 'Bungee Inline', cursive;
}

.naru-sasuke {
	height: 100%;
	width: 30%;
	display: flex;
	background-color:yellow;
}

.naru-sasuke1 {
	height: 100%;
	width:30%;
	display: flex;
	background-color:pink;
}
.transformation-row {
	height: 100%;
	width: 70%;
	display: block;
	background-color:blue;
}
.final-row {
	height:calc(100%/2);
	width: 100%;
	display: flex;
	background-color:red;
}

.box {
	height: 100%;
	width: 50%;
	display: flex;
	border: 2px white solid;
}
.image{
	height: 100%;
	width: 100%;
}

.title{
	width:100%;
	height:15%;
	background-color:blue;
	display:flex;
	justify-content:center;
}

.center{
	max-height:100%;
	max-width:100%;
	left:0;
}


.center1{
	max-height:100%;
	max-width:100%;
	right:0;
}

.center10{
	width:55%;
	margin-left:auto;
	margin-right:auto;
	display: block;
}

h1{
	font-size: 500%;
	font-family: 'Bungee Inline', cursive;
	color:white;
	align-items:center;
	margin:auto;
}

.photo{
	max-height:70%;
	max-width:70%;
}

.blue {background-color:#0000FF;}
.red {background-color: #FF0000;}
.orange {background-color:#FFA500;}

.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
/*iPad breakpoinr*/
@media only screen and (max-width: 800px){
	
	h1{
		font-size: 100%;
	}
	
	.naru-sasuke {
		height:50%;
		width: 100%;
	
	}
	.main-row{
		display:block;
	}
	
	.transformation-row {
		height: 50%;
		width: 100%;
	}
	
	.naru-sasuke1 {
		height:50%;
		width:100%;
	}
}
/*iPhone breakpoint*/
@media only screen and (max-width: 400px){
	.final-row{
		display:block;
	}
	
	.box{
		width:100%;
		height:50%;
	}
	
	.main-row{
		height:50%;
		width:100%;
	}
	
	body{
		height:300%;
	}
	.center1{
		display:none;
	}
	.center{
		display:none;
	}
	
	h1{
		font-size: 200%;
	}
}


@-webkit-keyframes hvr-wobble-to-bottom-right {
  16.65% {
    -webkit-transform: translate(8px, 8px);
    transform: translate(8px, 8px);
  }
  33.3% {
    -webkit-transform: translate(-6px, -6px);
    transform: translate(-6px, -6px);
  }
  49.95% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px);
  }
  66.6% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  83.25% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes hvr-wobble-to-bottom-right {
  16.65% {
    -webkit-transform: translate(8px, 8px);
    transform: translate(8px, 8px);
  }
  33.3% {
    -webkit-transform: translate(-6px, -6px);
    transform: translate(-6px, -6px);
  }
  49.95% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px);
  }
  66.6% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  83.25% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

.hvr-wobble-to-bottom-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-to-bottom-right:hover, .hvr-wobble-to-bottom-right:focus, .hvr-wobble-to-bottom-right:active {
  -webkit-animation-name: hvr-wobble-to-bottom-right;
  animation-name: hvr-wobble-to-bottom-right;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}